@{

    Layout = null;

}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="~/Themes/BlogFrontEnd/img/page-icon.png" rel="icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Software Paradise | Auhtor Panel</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/Themes/AdminPage/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Themes/AdminPage/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Themes/AdminPage/css/style.css">
    <link rel="stylesheet" href="~/Themes/AdminPage/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Themes/AdminPage/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    @*<link rel="shortcut icon" href="~/Themes/AdminPage/images/favicon.png" />*@
</head>
<body>
    <div class="container-scroller d-flex">
       
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item sidebar-category">
                    
                    <p>Author Panel</p>
                    <span></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/UserProfile/">
                        <i class="mdi mdi-face-profile menu-icon"></i>
                        <span class="menu-title">Author Profile</span>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/BlogList/">
                        <i class="mdi mdi-blogger menu-icon"></i>
                        <span class="menu-title">My Blogs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a target="_blank" class="nav-link" href="/">
                        <i class="mdi mdi-view-headline menu-icon"></i>
                        <span class="menu-open">Show Site</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/editprofil">
                        <i class="mdi mdi-account-edit menu-icon"></i>
                        <span class="menu-title">Edit My Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/LogOut">
                        <i class="mdi mdi-exit-to-app menu-icon"></i>
                        <span class="menu-title">LogOut</span>
                    </a>
                </li>
            </ul>
        </nav>
         
   
               
         

        @RenderBody()

    </div>
    <script src="~/Themes/AdminPage/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/Themes/AdminPage/js/off-canvas.js"></script>
    <script src="~/Themes/AdminPage/js/hoverable-collapse.js"></script>
    <script src="~/Themes/AdminPage/js/template.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="~/Themes/AdminPage/js/file-upload.js"></script>
</body>
</html>