

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Software Paradise</title>

    <!-- Favicon -->
    <link href="~/Themes/BlogFrontEnd/img/page-icon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Themes/BlogFrontEnd/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Themes/BlogFrontEnd/css/style.css" rel="stylesheet">




</head>
<body>

    <!-- Topbar Start -->
    <div  class="container-fluid d-none d-lg-block">
        <div class="row align-items-center bg-dark px-lg-5">
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="nav-hover navbar-nav ml-n2 ">
                       
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="/Contact/SendMessage">Contact</a>
                        </li>

                        <li class="nav-item border-right border-secondary">
                            <a target="_blank" class="nav-link text-body small" href="/Login/AuthorLogin">Author Login</a>
                        </li>
                        <li class="nav-item border-right border-secondary">
                            <a  class="nav-link text-body small" href="/Contact/SendMessage">Click for be Author</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 text-right d-none d-md-block">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="navbar-nav ml-auto mr-n2">
                        <li class="nav-item">
                            <a class="nav-link text-body" target="_blank" href="https://twitter.com/melihmerall"><small class="fab fa-twitter"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" target="_blank" href="https://www.linkedin.com/in/melihmerall/"><small class="fab fa-linkedin-in"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" target="_blank" href="https://www.instagram.com/melih.merall"><small class="fab fa-instagram"></small></a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>

    </div>
    <!-- Topbar End -->
    <div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center bg-dark px-lg-5">
              
        </div>
    </div>
    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2">
            <a href="/Blog/Index" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-6 text-uppercase text-success">Software<span class="text-white font-weight-normal"> Paradise</span></h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            @*<img  style="width:12%; height:auto; margin-left:1%;" src="~/blogThema/img/29647179-designstyle-colors-o.png" />*@
            <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0 ps--active-x" style="margin:auto !important;">
                    <!--  My NavBar Items  -->

                        <a href="/Blog/Index" class="nav-item nav-link ">Home</a>
                        <div class="nav-item dropdown">
                            <a href="/Blog/BlogByCategory/1" class="nav-link dropdown-toggle" data-toggle="dropdown">Software</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="/Blog/BlogByCategory/2" class="dropdown-item hover-open accent-blue">Web Development</a>
                                <a href="/Blog/BlogByCategory/4" class="dropdown-item">Desktop Development</a>
                                <a href="/Blog/BlogByCategory/12" class="dropdown-item">Machine Learning</a>
                                <a href="/Blog/BlogByCategory/13" class="dropdown-item">Genetic Algorithms</a>
                                <a href="/Blog/BlogByCategory/3" class="dropdown-item">Artifical Intelligance</a>
                            </div>
                        </div>
                        <a href="/Blog/BlogByCategory/14" class="nav-item nav-link">Cyber Security</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Graphic Design</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="/Blog/BlogByCategory/6" class="dropdown-item">Vector Illustration</a>
                                <a href="/Blog/BlogByCategory/7" class="dropdown-item">Graphic Animation</a>
                                <a href="/Blog/BlogByCategory/8" class="dropdown-item">Gif Creation</a>


                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Data</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="/Blog/BlogByCategory/6" class="dropdown-item">Data Structures</a>
                                <a href="/Blog/BlogByCategory/7" class="dropdown-item">Data Analysis</a>
                                <a href="/Blog/BlogByCategory/8" class="dropdown-item">Database Management</a>
                                <a href="/Blog/BlogByCategory/9" class="dropdown-item">Data Visualization</a>

                            </div>

                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Digital Marketing</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="/Blog/BlogByCategory/15" class="dropdown-item">Social Media Marketing</a>
                                <a href="/Blog/BlogByCategory/16" class="dropdown-item">Web Site Marketing</a>
                                <a href="/Blog/BlogByCategory/17" class="dropdown-item">SEO</a>

                            </div>
                        </div>
                

                </div>
                
            </div>
        </nav>
    </div>


    @RenderBody()
    <!-- Navbar End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Themes/BlogFrontEnd/lib/easing/easing.min.js"></script>
    <script src="~/Themes/BlogFrontEnd/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Themes/BlogFrontEnd/js/main.js"></script>
    <!--BlogFrontend-->



</body>
</html>