@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- category widget -->
<div class="aside-widget">
    <div class="section-title">
        <h2 class="title">Categories</h2>
    </div>
    <div class="category-widget">
        <ul>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Artifical Intelligance</a></li>
            <li><a href="#">Desktop Development</a></li>
            <li><a href="#">Data Structures</a></li>
            <li><a href="#">Data Analysis</a></li>
            <li><a href="#">Data Visualization</a></li>
            <li><a href="#">Database Management</a></li>
            <li><a href="#">Blockchain & Web3</a></li>
            <li><a href="#">Digital Marketing</a></li>
            <li><a href="#">Cyber Security</a></li>
        </ul>
    </div>
    <!-- Ad widget -->

</div>
<!-- /category widget -->
