@model IEnumerable<Entity.Concrete.Category>
<!-- category widget -->



<div class="sidebar-box">
    <h3 class="heading">Categories</h3>
    <ul class="categories">
        @foreach (var value in Model)
        {
            <li><a href="#">@value.CategoryName</a></li>
        }
    </ul>
</div>




