@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="site-section bg-light">
    <div class="container">
        <div>
            <h2>Highlights</h2><br />
        </div>
        <div class="row align-items-stretch retro-layout">
            <div class="col-md-5 order-md-2">
                <a href="single.html" class="hentry img-1 h-100 gradient" style="background-image: url('/blogFrontEnd/images/img_4.jpg');">
                    <span class="post-category text-white bg-danger">Kategori</span>
                    <div class="text">
                        <h2>Buraya yazının başlığı Gelecek.!</h2>
                        <span>Tarih</span>
                    </div>
                </a>
            </div>

            <div class="col-md-7">

                <a href="single.html" class="hentry img-2 v-height mb30 gradient" style="background-image: url('/blogFrontEnd/images/img_1.jpg');">
                    <span class="post-category text-white bg-success">Kategori</span>
                    <div class="text text-sm">
                        <h2>Buraya yazının başlığı Gelecek.!</h2>
                        <span>tarih</span>
                    </div>
                </a>

                <div class="two-col d-block d-md-flex">
                    <a href="single.html" class="hentry v-height img-2 gradient" style="background-image: url('/blogFrontEnd/images/img_2.jpg');">
                        <span class="post-category text-white bg-primary">Kategori</span>
                        <div class="text text-sm">
                            <h2>Buraya yazının başlığı Gelecek.!</h2>
                            <span>tarih</span>
                        </div>
                    </a>
                    <a href="single.html" class="hentry v-height img-2 ml-auto gradient" style="background-image: url('/blogFrontEnd/images/img_3.jpg');">
                        <span class="post-category text-white bg-warning">Kategori</span>
                        <div class="text text-sm">
                            <h2>Buraya yazının başlığı Gelecek.!</h2>
                            <span>tarih</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>

