@model IEnumerable<Entity.Concrete.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/blogFrontEnd/images/img_4.jpg');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <h1 class="">About Us</h1>
                    <p class="lead mb-4 text-white">Would you like to learn about our staff of writers who write up-to-date articles in the field of software?</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var value in Model)
            {
                <div class="col-md-6 order-md-2">
                    <img src="~/blogFrontEnd/images/img_1.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 mr-auto order-md-1">
                    <h2>Who are we?</h2>

                    <p>
                        @value.AboutContent
                    </p>

                    <ul class="ul-check list-unstyled success">
                        <li>More than 10 categories</li>
                        <li>Competent writer staff</li>
                        <li>5 new posts every day</li>
                    </ul>

                </div>
            }
        </div>
    </div>
</div>
@Html.Action("WhoIsTeam", "About")
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/blogFrontEnd/images/img_1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-5 ml-auto">
                <h2>Join Us</h2>
                @foreach (var value in Model)
                {


                    <p class="mb-4">@value.AboutContent2</p>

                    <ul class="ul-check list-unstyled success">
                        <li>Monetization per view</li>
                        <li>Access to author control panel</li>

                    </ul>
                }
            </div>
        </div>
    </div>
</div>
@Html.Action("Footer", "About")
