
@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Views/Shared/Layout.cshtml";
}




< <!-- Contact Start -->
<div class="container-fluid mt-5 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title mb-0">
                    <h4 class="m-0 text-uppercase font-weight-bold">Contact Us</h4>
                </div>
                <div class="bg-white border border-top-0 p-4 mb-3">
                    <div class="mb-4">
                        <h6 class="text-uppercase font-weight-bold">Contact Info</h6>
                        <p class="mb-4">You can share your suggestions, opinions and complaints here. Please contact us to join us as an author. </p>
                        @*<div class="mb-3">
            <div class="d-flex align-items-center mb-2">
                <i class="fa fa-map-marker-alt text-primary mr-2"></i>
                <h6 class="font-weight-bold mb-0">Our Office</h6>
            </div>
            <p class="m-0">123 Street, New York, USA</p>
        </div>
        <div class="mb-3">
            <div class="d-flex align-items-center mb-2">
                <i class="fa fa-envelope-open text-primary mr-2"></i>
                <h6 class="font-weight-bold mb-0">Email Us</h6>
            </div>
            <p class="m-0">info@example.com</p>
        </div>
        <div class="mb-3">
            <div class="d-flex align-items-center mb-2">
                <i class="fa fa-phone-alt text-primary mr-2"></i>
                <h6 class="font-weight-bold mb-0">Call Us</h6>
            </div>
            <p class="m-0">+012 345 6789</p>
        </div>*@
                    </div>
                    <h6 class="text-uppercase font-weight-bold mb-3">Contact Us</h6>
                    <form method="post">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control p-4" name="Name" placeholder="Your Name" required="required" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control p-4" name="SurName" placeholder="Your Surname" required="required" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control p-4" name="Name" placeholder="Your Email" required="required" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control p-4" name="Subject" placeholder="Subject" required="required" />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="4" name="Message" placeholder="Message" required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary font-weight-semi-bold px-4" style="height: 50px;"
                                    type="submit">
                                Send Message
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Social Follow Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <a target="_blank" href="https://github.com/melihmerall" class="d-block w-100 text-white text-decoration-none mb-3" style="background-color: rgb(18, 16, 16) ;">
                            <i class="fab fa-github text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            GITHUB
                        </a>
                        <a target="_blank" href="https://twitter.com/melihmerall" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                            <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            TWITTER
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/melihmerall/" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                            <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            LINKEDIN
                        </a>
                        <a target="_blank" href="https://www.instagram.com/melih.merall" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                            <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            INSTAGRAM
                        </a>

                    </div>
                </div>
                <!-- Social Follow End -->

            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
@Html.Action("Footer", "About")
