
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Software Paradise | Author</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/Themes/AdminPage/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Themes/AdminPage/vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="~/Themes/AdminPage/css/style.css">

</head>

<body>
    <div class="container-scroller d-flex">
        <div class="container-fluid page-body-wrapper full-page-wrapper d-flex">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">

                            </div>
                          
                            @using (Html.BeginForm("AuthorLogin", "Login", FormMethod.Post))
                            {
                                @*<div class="brand-logo">
                                        <img src="~/AdminPage/images/logo.svg" alt="logo">
                                    </div>*@

                                <h4>Welcome dear author. Have a good day...</h4>
                                <br />

                                <div class="form-group">
                                    <label>E-Mail</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="mdi mdi-account-outline text-primary"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control form-control-lg border-left-0" name="AuthorMail" placeholder="E-Mail">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label>Password</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="mdi mdi-lock-outline text-primary"></i>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control form-control-lg border-left-0" name="AuthorPassword" placeholder="Password">
                                    </div>
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <a href="/Login/AdminLogin" class="auth-link text-black">Admin Login</a>
                                    <a href="#signup" class="auth-link text-black">Forgot password?</a>
                                </div>
                                <div class="my-3">
                                    <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">LOGIN</button>
                                </div>
                                @*<div class="mb-2 d-flex">
                                        <button type="button" class="btn btn-facebook auth-form-btn flex-grow mr-1">
                                            <i class="mdi mdi-facebook mr-2"></i>Facebook
                                        </button>
                                        <button type="button" class="btn btn-google auth-form-btn flex-grow ml-1">
                                            <i class="mdi mdi-google mr-2"></i>Google
                                        </button>
                                    </div>*@

                            }
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>

    <script src="~/Themes/AdminPage/vendors/js/vendor.bundle.base.js"></script>

    <script src="~/Themes/AdminPage/js/off-canvas.js"></script>
    <script src="~/Themes/AdminPage/js/hoverable-collapse.js"></script>
    <script src="~/Themes/AdminPage/js/template.js"></script>

</body>

</html>
