
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>404 Error</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="~/Themes/AdminThema/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Themes/AdminThema/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="~/Themes/AdminThema/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/Themes/AdminThema/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/Themes/AdminThema/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/Themes/AdminThema/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/Themes/AdminThema/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/Themes/AdminThema/css/custom.css" />
    <!-- calendar file css -->
    <link rel="stylesheet" href="~/Themes/AdminThema/js/semantic.min.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="inner_page error_404">
    <div class="full_container">
        <div class="container">
            <div class="center verticle_center full_height">
                <div class="error_page">
                    <h3>YOU LOST !</h3>
                    <div class="center">
                        <div class="error_icon">
                            <img class="img-responsive" src="~/Themes/AdminThema/images/layout_img/error.png" alt="#">
                        </div>
                    </div>
                    <br>
                    <h3>PAGE NOT FOUND !</h3>
                    <P>YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</P>
                    <div class="center"><a class="main_bt" href="/">Go To Home Page</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/AdminThema/js/jquery.min.js"></script>
    <script src="~/AdminThema/js/popper.min.js"></script>
    <script src="~/AdminThema/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="~/AdminThema/js/animate.js"></script>
    <!-- select country -->
    <script src="js/bootstrap-select.js"></script>
    <!-- nice scrollbar -->
    <script src="js/perfect-scrollbar.min.js"></script>
    <script>
         var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- custom js -->
    <script src="~/Themes/AdminThema/js/custom.js"></script>
</body>
</html>