@model  IEnumerable<Entity.Concrete.Blog>
@foreach (var value in Model)
{
    <div class="section-row">
        <div class="section-title">



            <h3 class="title">Author <a href="author.html">Yazar İsim</a></h3>
        </div>
        <div class="author media">
            <div class="media-left">
                <a href="author.html">
                    <img class="author-img media-object" src="~/blogThema/img/avatar-1.jpg" alt="">
                </a>
            </div>
            <div class="media-body">
                <p>Yazaar hakkında Bilgiler gelecek</p>
                <ul class="author-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
}