@model IEnumerable<Entity.Concrete.Blog>
<div class="aside-widget">
    <div class="section-title">
        <h2 class="title">Author Other Posts</h2>
    </div>
    @foreach (var value in Model)
    {

        <!-- post -->
        <div class="post post-widget">
            <a class="post-img" href="/Blog/BlogDetails/@value.BlogId"><img src="@value.BlogImage" alt=""></a>
            <div class="post-body">
                <div class="post-category">
                    <a href="category.html">@value.Category.CategoryName</a>
                </div>
                <h3 class="post-title"><a href="/Blog/BlogDetails/@value.BlogId">@value.BlogTitle</a></h3>
            </div>
        </div>
        <!-- /post -->
    }
</div>