@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="aside-widget">
    <div class="section-title">
        <h2 class="title">Popular Posts</h2>
    </div>
    <!-- post -->
    <div class="post post-widget">
        <a class="post-img" href="blog-post.html"><img src="~/blogThema/img/widget-3.jpg" alt=""></a>
        <div class="post-body">
            <div class="post-category">
                <a href="category.html">Kategori</a>
            </div>
            <h3 class="post-title"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
        </div>
    </div>
    <!-- /post -->
    <!-- post -->
    <div class="post post-widget">
        <a class="post-img" href="blog-post.html"><img src="~/blogThema/img/widget-2.jpg" alt=""></a>
        <div class="post-body">
            <div class="post-category">
                <a href="category.html">Kategori</a>

            </div>
            <h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
        </div>
    </div>
    <!-- /post -->
    <!-- post -->
    <div class="post post-widget">
        <a class="post-img" href="blog-post.html"><img src="~/blogThema/img/widget-4.jpg" alt=""></a>
        <div class="post-body">
            <div class="post-category">
                <a href="category.html">Kategori</a>
            </div>
            <h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
        </div>
    </div>
    <!-- /post -->
    <!-- post -->
    <div class="post post-widget">
        <a class="post-img" href="blog-post.html"><img src="~/blogThema/img/widget-5.jpg" alt=""></a>
        <div class="post-body">
            <div class="post-category">
                <a href="category.html">Kategori</a>

            </div>
            <h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
        </div>
    </div>

</div>